@import '/node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #B71B1B;
}

.min-width {
    min-width: 490px;
}